# Include the README
#include README.md

# Include the license file
#include LICENSE.txt

# Include the data files
graft snowglobes

prune snowglobes/fluxes/chimera*

recursive-exclude snowglobes/out/ *.dat

global-exclude *_normal*
global-exclude *_inverted*
